body {
    font-family: "Sora", serif !important;
}

/* Home Page (Index Page) Styles */
/* Navbar Styles */
.navbar-bg {
    background-color: #050709;
}

.btn-custom {
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
    color: #FFFFFF !important;
    background: rgb(135,80,247);
    background: linear-gradient(90deg, rgba(135,80,247,1) 0%, rgba(42,20,84,1) 50%, rgba(135,80,247,1) 100%);
}

.btn-custom:hover {
    background: #FFFFFF !important;
    color: #050709 !important;
}


/* Hero Section Styles */
.hero-section {
    width: 100%;
    height: 100vh;
    background-color: #0F0715;
    padding-top: 5.5rem;
    position: relative;
    background-image: 
    url(assets/hero-section-img/hi-bg.svg),  /* Sol ortadaki resim */
    url(assets/hero-section-img/gradient-blur-1.png);  /* Sağ üst köşedeki resim */
    background-position: 
    45% 20%,  /* İlk resim: ortanın biraz solu */
    right top;   /* İkinci resim: sağ üst */
    background-repeat: no-repeat, no-repeat; /* Resimleri tekrar ettirme */
}

.hero-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #DDDDDD;
    margin: 0;
}

.hero-text-1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
    background: rgb(135,80,247);
    background: linear-gradient(90deg, rgba(135,80,247,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
}

.hero-text-2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #DDDDDD;
    padding-right: 4.5rem;
    padding-bottom: 2rem;
}

.btn-outline-light {
    --bs-btn-color: #8750F7 !important;
    --bs-btn-border-color:var(--bs-btn-color) !important;
}

.btn-size {
    width: 45px;
    height: 45px;
}

.photo-container {
    position: relative;  /* İçindeki `absolute` öğeleri kontrol etmek için */
    display: inline-block;
    z-index: 0; /* Ebeveynin katman sırasını ayarla */
}

.photo-styles {
    width: 441px;
    height: 479px;
    display: block;
    position: relative; /* Fotoğrafın ön planda kalmasını garantilemek için */
    z-index: 1;
}

.photo-styles-1 {
    position: absolute;
    width: 350px;
    height: 350px;
    bottom: -120px;
    left: -120px;
    z-index: -1; /* Bu artık `photo-container` içinde çalışacak */
    opacity: 0.9;
}

.number-custom {
    font-weight: 700;
    font-size: 64px;
    line-height: 70.4px;
    color: #DDDDDD;
}

.hero-text-3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DDDDDD;
    margin: 0;
}


/* My Quality Services Section Styles */
.bg-custom {
    background-color: #050709;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.quality-services-text {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    background: rgb(135,80,247);
    background: linear-gradient(90deg, rgba(135,80,247,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
}

.quality-services-text-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DDDDDD;
    margin: 0;
    padding: 16px 300px;
}
 
.quality-services-link {
    text-decoration: none;
    display: block;
    padding: 20px;
    border-radius: 10px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.quality-services-link:hover {
    background: linear-gradient(90deg, rgba(135,80,247,1) 0%, rgba(42,20,84,1) 100%);
    color: white;
}

/* 01 yazısını beyaz yap */
.quality-services-link:hover .link-number {
    color: white;
    transition: color 0.3s ease-in-out;
}

/* Ok ikonunu yukarı döndür */
.quality-services-link .link-arrow-1 {
    content: url("assets/my-quality-services-img/link-arrow-1.svg"); /* Varsayılan mor ikon */
    transition: transform 0.3s ease-in-out;
}

.quality-services-link:hover .link-arrow-1 {
    content: url("assets/my-quality-services-img/link-arrow.svg"); /* Hover olduğunda beyaz ikon */
    transform: rotate(-90deg); /* Yukarı döndürme */
    width: 20px;
    height: 20px;
}

.quality-services-link .link-arrow-2 {
    content: url("assets/my-quality-services-img/link-arrow-1.svg"); /* Varsayılan mor ikon */
    transition: transform 0.3s ease-in-out;
}

.quality-services-link:hover .link-arrow-2 {
    content: url("assets/my-quality-services-img/link-arrow.svg"); /* Hover olduğunda beyaz ikon */
    transform: rotate(-90deg); /* Yukarı döndürme */
    width: 20px;
    height: 20px;
}

.quality-services-link .link-arrow-3 {
    content: url("assets/my-quality-services-img/link-arrow-1.svg"); /* Varsayılan mor ikon */
    transition: transform 0.3s ease-in-out;
}

.quality-services-link:hover .link-arrow-3 {
    content: url("assets/my-quality-services-img/link-arrow.svg"); /* Hover olduğunda beyaz ikon */
    transform: rotate(-90deg); /* Yukarı döndürme */
    width: 20px;
    height: 20px;
}

.quality-services-link .link-arrow-4 {
    content: url("assets/my-quality-services-img/link-arrow-1.svg"); /* Varsayılan mor ikon */
    transition: transform 0.3s ease-in-out;
}

.quality-services-link:hover .link-arrow-4 {
    content: url("assets/my-quality-services-img/link-arrow.svg"); /* Hover olduğunda beyaz ikon */
    transform: rotate(-90deg); /* Yukarı döndürme */
    width: 20px;
    height: 20px;
}

.link-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #8750F7;
}

.quality-services-text-2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0;
}

.quality-services-text-3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DDDDDD;
    margin: 0;
}

.link-arrow-1 {
    margin-left: 24rem;
}

.link-arrow-2 {
    margin-left: 28.1rem;
}

.link-arrow-3 {
    margin-left: 26.9rem;
}

.link-arrow-4 {
    margin-left: 23.7rem;
}


/* My Recent Works Section Styles */
.btn-link:hover {
    background: rgb(42,20,84);
    background: linear-gradient(270deg, rgba(42,20,84,1) 0%, rgba(135,80,247,1) 100%);
}

.bg-custom-1 {
    background-color: #0F0715;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url(assets/my-recent-works-img/gradient-blur-bg.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.card-bg {
    background-color: #140C1C !important;
}

.menu-bg {
   display: flex;
   background-color: #050709;
   padding: 10px;
   border-radius: 60px;
   align-items: center;
   /*Dikeydeortalama*/justify-content: center;
   /*Yataydaortalama*/width: fit-content;
   /*İçerikkadargenişlik*/margin: auto;
   /*Sayfaortasındatutmakiçin*/:;
   -webkit-border-radius: 60px;
   -moz-border-radius: 60px;
   -ms-border-radius: 60px;
   -o-border-radius: 60px;
}

.bg-custom-2 {
    background-color: #050709;
    padding-top: 5rem;
    padding-bottom: 5rem;
}


/* My Experience and My Education Section Styles */
.card-text-custom {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    background: rgb(135,80,247);
    background: linear-gradient(90deg, rgba(135,80,247,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
}

.card-heading {
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #8750F7;
}

.card-text-custom-1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.card-text-custom-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DDDDDD;
}