/* My Skills Section Styles */
.bg-custom-3 {
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 5rem;
  display: flex;
  background-color: #0f0715;
  padding-right: 230px;
  padding-left: 230px;
}

.my-skills-heading {
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
  background-size: 200%;
  background: rgb(135, 80, 247);
  background: linear-gradient(
    90deg,
    rgba(135, 80, 247, 1) 25%,
    rgba(255, 255, 255, 1) 75%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.img-padding {
  padding: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-out;
}

.img-padding:hover {
  transform: translateY(-30px);
}

.my-skills-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #dddddd;
}

/* My Client's Stories Section Styles */
.bg-custom-4 {
  background-color: #050709;
  padding-top: 7rem;
  padding-bottom: 10rem;
  background-image: url("../img/my-clients-story-img/gradient-blur-2.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

.my-clients-heading {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  margin-bottom: 15px;
  background-size: 200%;
  background: rgb(135, 80, 247);
  background: linear-gradient(
    90deg,
    rgba(135, 80, 247, 1) 25%,
    rgba(255, 255, 255, 1) 75%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.my-clients-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #dddddd;
}

.transform {
  cursor: pointer;
  transition: transform 0.5s ease-out;
}

.transform:hover {
  transform: translateY(-70px);
}

/* Recent Blogs Section Styles */
.bg-custom-5 {
  background-color: #0f0715;
  padding-top: 7rem;
  padding-bottom: 6rem;
}

.recent-blogs-text {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  background: rgb(135, 80, 247);
  background: linear-gradient(
    90deg,
    rgba(135, 80, 247, 1) 25%,
    rgba(255, 255, 255, 1) 75%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.recent-blogs-text-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #dddddd;
  margin: 0;
  padding: 5px 300px;
}

/* Forms Section Styles */
.bg-custom-6 {
  background-color: #050709;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.form-container {
  background-color: #140c1c;
}

.form-text-1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  background: rgb(135, 80, 247);
  background: linear-gradient(
    90deg,
    rgba(135, 80, 247, 1) 25%,
    rgba(255, 255, 255, 1) 75%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: left;
  margin-left: 5px;
}

.form-text-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #dddddd;
  margin-left: 5px;
}

.form-container {
  margin: 50px auto;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  margin-bottom: 25px;
}

.form-control {
  margin-bottom: 15px;
}

.input-text {
  border: 1px solid #22272c !important;
  border-radius: 8px !important;
  background-color: #050709 !important;
}

input::placeholder {
  color: #757575 !important;
}

.button {
  width: 182.02px;
  height: 55px;
  top: 418.7px;
  left: 2px;
  border: none;
  border-radius: 50px;
  color: #ffff;
  background: linear-gradient(90deg, #8750f7 0%, #2a1454 100%, #8750f7 100%);
}

.button:hover {
  transition: 0.5s;
  color: #b596f4;
}

.contact-info {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 8px;
  width: 328.38px;
}

.contact-info i {
  font-size: 24px;
  margin-top: 5px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-text-3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #dddddd;
  margin-right: 40px;
}

.icon-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #dddddd;
  margin: 0;
}

.icon-text-1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

/* Footer Section Styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #0f0715;
}

.footer-content {
  text-align: center;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.footer-links {
  margin: 25px 10px;
}

.footer-links a {
  color: grey;
  text-decoration: none;
  margin: 0 10px;
}

.footer-text {
  color: #8750f7;
  font-weight: 300;
  font-size: 17px;
  cursor: pointer;
}